<figure class="w-full overflow-hidden relative">
    <% if (linkImage) { %>
        <a href="/<%= id %>">
            <% } %>
                <img src="<%= url %>" loading="lazy" alt="" class="hover:scale-[1.05] duration-300">
                <% if (linkImage) { %>
        </a>
        <% } %>
            <div class="absolute right-4 top-3 rounded flex items-center">
                <% if (currentUser) { %>
                    <div class="bg-cyan-400 bg-opacity-30 p-[3px] px-[5px] mr-3">
                        <button class="inline-block ml-1 text-xl collectionModalOpenBtn"
                            id="collectionModalOpenBtn-<%= id %>">
                            <i class="fa-solid fa-bars-staggered"></i>
                        </button>
                    </div>
                    <% } %>
                        <form action="/<%= id %>/like" method="POST">
                            <button class="btn p-[3px] px-[5px] bg-cyan-400 bg-opacity-30">
                                <i class="<%= idIndex(currentUser.likedPosts, id) === -1 ? "fa-regular" : "fa-solid" %> fa-heart"></i>
                                <span class="text-base">
                                    <%= likes %>
                                </span>
                            </button>
                        </form>
            </div>
</figure>
<% if (currentUser) { %>
    <div id="collectionModal-<%= id %>"
        class="hidden bg-gray-500 bg-opacity-50 w-full h-full fixed top-0 left-0 collectionModalCloseBg items-center justify-center duration-300 z-10">
        <div
            class="py-4 px-6 card w-full h-full max-w-[390px] max-h-[460px] overflow-y-auto absolute collectionModal-content">
            <p class="section-title">
                Save to collection
            </p>
            <div class="w-full">
                <% for (let collection of currentUser.collections) { %>
                    <form action="/authors/<%= currentUser._id %>/collections/<%= collection._id %>?blogId=<%= id %>"
                        method="POST" class="w-full flex justify-between items-center">
                        <% let isSaved=false %>
                            <% collection.blogs.map((blogItem)=> { if (blogItem._id.equals(id)) isSaved = true }) %>
                                <button class="nav-mobile-anchor <%= isSaved ? " bg-gray-300": "" %>">
                                    <%= collection.name %>
                                </button>
                                <p>
                                    <% if (collection.isPrivate) { %>
                                        <i class="fa-solid fa-lock"></i>
                                        <% } else { %>
                                            <i class="fa-solid fa-lock-open"></i>
                                            <% } %>
                                </p>
                    </form>
                    <% } %>
            </div>
            <button class="collectionModalCloseBtn bg-transparent p-0 m-0 absolute top-3 right-4 text-3xl"
                id="collectionModalCloseBtn-<%= id %>"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
    <% } %>