<%- layout("./layouts/boilerplate") %>

    <div class="container">
        <div class="border-b-2 border-gray-300">
            <div class="flex items-center md:flex-col md:text-center w-full mb-11">
                <figure class="w-40 h-40 md:mr-0 md:mb-4 mr-6">
                    <img class="w-full h-full rounded-[50%]" src="<%= author.logo ? author.logo.fmurl : "/assets/avatar.jpg" %>" alt="<%= author.name %>" loading="lazy">
                </figure>
                <div class="md:flex md:items-center md:flex-col">
                    <h1 class="font-bold text-[30px] sm:text-3xl">
                        <%= author.name %>
                    </h1>
                    <p class="text-gray-600 my-1">
                        <span>
                            <%= author.stars %> Stars
                        </span> <sup class="text-xl mx-1">.</sup> <span>
                            <%= author.blogs.length %>
                                <%= author.blogs.length <=1 ? "Blog" : "Blogs" %>
                        </span>
                    </p>
                    <button class="bg-transparent p-0 m-0 text-gray-600" id="modalOpenBtn">
                        <%= author.description.substring(0, 30) + "..." %>
                            <i class="fa-solid fa-angle-right text-gray-900 font-bold text-2xl ml-3"></i>
                    </button>
                    <% if (currentUser && currentUser._id.equals(author._id)) { %>
                        <a href="/authors/<%= author._id %>/settings" class="btn block w-max mt-2">
                            <i class="fa-solid fa-gear"></i>
                        </a>
                        <% } else if (currentUser) { %>
                            <form action="/authors/<%= author._id %>/like" method="POST">
                                <button class="btn">
                                    <i class="<%= idIndex(currentUser.staredAuthors, author._id) === -1? " fa-regular": "fa-solid" %> fa-star"></i>
                                </button>
                            </form>
                            <% } %>
                </div>
            </div>
            <div>
                <a href="/authors/<%= author._id %>" class="text-base <%= lastPath !== "collections" && lastPath
                    !=="favourites" ? `text-black border-b-black border-b-2` : `text-gray-500 hover:border-b-gray-500
                    hover:border-b-2` %> font-bold pb-1 mr-5">Home</a>
                <a href="/authors/<%= author._id %>/collections" class="text-base <%= lastPath === "collections"?
                    `text-black border-b-black border-b-2` : `text-gray-500 hover:border-b-gray-500 hover:border-b-2` %>
                    font-bold pb-1 mr-5">Collections</a>
                <% if (currentUser && currentUser._id.equals(author._id)) { %>
                    <a href="/authors/<%= author._id %>/favourites" class="text-base <%= lastPath === "favourites"?
                        `text-black border-b-black border-b-2` : `text-gray-500 hover:border-b-gray-500
                        hover:border-b-2` %>
                        font-bold pb-1 mr-5">Favourites</a>
                    <% } %>
            </div>
        </div>
        <%- body %>
    </div>
    <div id="modal"
        class="hidden bg-gray-500 bg-opacity-50 w-full h-full fixed top-0 modalCloseBtn items-center justify-center duration-300">
        <div class="py-4 px-6 card w-full h-full max-w-[390px] max-h-[460px] overflow-y-auto absolute"
            id="modal-content">
            <div class="mb-8">
                <h2 class="text-xl font-bold mb-2">About</h2>
                <p class="text-sm text-gray-600">
                    <%= author.description %>
                </p>
            </div>
            <div class="mb-8">
                <h2 class="text-xl font-bold mb-2">Details</h2>
                <ul>
                    <li class="flex items-center mb-4">
                        <i class="fa-regular fa-envelope text-2xl mr-3"></i>
                        <p class="text-gray-600">
                            <%= author.email %>
                        </p>
                    </li>
                    <li class="flex items-center mb-4">
                        <i class="fa-regular fa-star text-2xl mr-3"></i>
                        <p class="text-gray-600">
                            0
                        </p>
                    </li>
                    <li class="flex items-center mb-4">
                        <i class="fa-regular fa-image text-2xl mr-3"></i>
                        <p class="text-gray-600">
                            <%= author.blogs.length %>
                        </p>
                    </li>
                </ul>
            </div>
            <button class="modalCloseBtn bg-transparent p-0 m-0 absolute top-3 right-4 text-3xl"><i
                    class="fa-solid fa-xmark"></i></button>
        </div>
    </div>

    <script src="/js/modal.js"></script>